<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>
{{ username }}
<div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form action="{{ url_for('change') }}" method="POST">
                	{% if error%}
                		<p>{{ error }}}</p>
                	{% endif %}
                    <div class="form-group">
                      <label>Enter new Password : </label>
                      <input type="password" name="passBaru" class="form-control" title="Minimal 8 Karakter dan Harus menggunakan format huruf besar, huruf kecil dan angka" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Password" required="" id="password">
                    </div>
                    <div class="form-group">
                      <label>Validate new Password: </label>
                      <input type="password" name="passBaruValidate" class="form-control" title="Minimal 8 Karakter dan Harus menggunakan format huruf besar, huruf kecil dan angka" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="PasswordValidate" required="" id="password">
                      <!-- <input type="hidden" value={{username}} name="user" id="user"> -->
                      
                    </div>
                    <a href="/change?username={{ username }}"><button type="submit" class="btn form-control btn-default">Change</button></a>
                </form>
            </div>
        </div>
    </div>


</body>
</html>